name: 'ubuntu24.04-terraform-aws'

on:
  push:
    branches:
      - main
    paths: 
      - '.github/workflows/ubuntu24.04-terraform-aws.yaml'
      - 'ubuntu24.04-terraform-aws/**'

env:
  DOCKER_BUILD_SUMMARY: false
  DOCKER_BUILD_RECORD_UPLOAD: false

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ghcr.io/k-kojima-yumemi/ubuntu24.04-terraform-aws:latest
          platforms: linux/amd64,linux/arm64
          context: 'ubuntu24.04-terraform-aws'
          file: 'ubuntu24.04-terraform-aws/Dockerfile'
